.sign-in {
    padding: 20px;
    max-width: 400px;
    margin: 20px auto; /* Ajout d'une marge supérieure de 40px */
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .btn-sign-in {
    width: 100%;
    padding: 12px;
    background-color:#e0b800;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-sign-in:hover {
    background-color: #e0b800;
  }
  